<.form :let={f} for={@changeset} action={"/game/#{@game_slug}/join"} method="post">
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
    <legend class="fieldset-legend">Join Game</legend>

    <label class="label">Your name</label>
    <.input field={f[:name]} type="text" class="input validator" required />

    <button type="submit" class="btn btn-primary mt-4">Join Game</button>
  </fieldset>
</.form>
